/* Intro Style Sheet */

@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

html 
{
    background: url(background.png) no-repeat center center fixed; background-size: cover;
    
    overflow: hidden;
}

body
{
    color: white;
    font-family: 'NanumSquare', sans-serif;
    text-align: center;
    
    
}




footer{

    position:absolute;
    text-align: right;
    bottom:0;
    width:99%;
    height: 3%
}


.central
{
    margin-top: 15%;
    transition: all 1s;

}


.button{
    position: a;
    transform: translateY(-220%);
    font-size: 170%;
}






.title
{
    font-size : 500%;
    font-weight: bold;
}
.subtitle
{
    
    font-size : 150%;
    font-weight: lighter;
    
}
a:link{text-decoration: none}
a {color: white}



     

/*.button
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(120%);
    
    font-size:150%;

}*/


/* Font Type */
/*
.normal {font-weight: 400}
.bold {font-weight: 700}
.bolder {font-weight: 800}
.light {font-weight: 300}

*/