/* Intro Style Sheet */

@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

html { background: url(background.png) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}

body
{
    overflow: hidden;
    
    /*가로 세로 가운데 정렬*/
    color: white;
    font-family: 'NanumSquare', sans-serif;
    text-align: center;
    display: table;
    margin-left: auto; margin-right: auto; margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);




}

footer{
    text-align: right;
    transform: translateY(850%) translateX(270%);
}


.title
{
    font-size : 500%;
    font-weight: bold;
}
.subtitle
{
    font-size : 150%;
    font-weight: lighter;
    
}
a:link{text-decoration: none}
a {color: white}
     

.button
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(120%);
    
    font-size:150%;

}


/* Font Type */
/*
.normal {font-weight: 400}
.bold {font-weight: 700}
.bolder {font-weight: 800}
.light {font-weight: 300}

*/